.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.map {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.navbar-home {
  background-color: #282c34;
  padding: 25px;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  display: inline;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-list a:hover {
  text-decoration: underline;
}

/*.footer {
  background-color: #282c34;
  color: white;
  padding: 4px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/
.navbar-list .title_Site{
  font-size: 20px;
  color: rgb(158, 158, 224);
  text-decoration: underline;
}
.about, .collaborate {
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h1, .collaborate h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about p, .collaborate p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.footer {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.collaborate-content {
  display: flex;
  align-items: center;
}

.collaborate-logo {
  margin-right: 20px;
  height: 200px; 
  width: 190px;  
}
.logo_hm{
  width: 30px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
